/* $Id$ */
.volunteer-shifts-event-details {
  padding-left: 0.5em;
  padding-top: 0.5em;
}
.volunteer-shifts-event-details label {
  float: left;
  clear: left;
  text-align: right;
  width: 7em;
  padding-right: 0.5em;
}