/* $Id$ */
.volunteer-rally-priority .view-data-node-title a {
  color: #fff;
  line-height: 20px;
  height: 20px;
  display: block;
}
.volunteer-rally-priority-0  {background-color: #e00;}
.volunteer-rally-priority-1  {background-color: #fa0;}
.volunteer-rally-priority-2  {background-color: #6e0;}
.volunteer-rally-priority-3  {background-color: #0c9;}
.volunteer-rally-priority-4  {background-color: #06c;}
.volunteer-rally-priority-5  {background-color: #66c;}

.volunteer-rally-priority-6  {background-color: #c08;}
.volunteer-rally-priority-7  {background-color: #c66;}
.volunteer-rally-priority-8  {background-color: #654;}
.volunteer-rally-priority-9  {background-color: #088;}
.volunteer-rally-priority-10 {background-color: #246;}
